.body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
.cabecalho{
    background-color: hsl(240, 100%, 50%);
    display: flex;
    justify-content: center;
    padding: 40px;
}
.menu a {
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.info{
    padding: 20px;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    flex-direction: column;
    align-items: center;

    span{
        border-bottom:solid 1px #c1c5d0;
        width: 30%;
        font-size: 28px;
        font-weight: 600;
    }
    h2{
        font-size: 16px;
        font-weight: 400;
    }
}
.titulo{
    font-size: 44px; 
}

.filtro-container{
    background-color: whitesmoke;
    min-height: 100%;
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
    img{
        height: 24px;
        width: 24px;
    }
}

.filtro-title{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    justify-content: left;
    align-items: center;
    h3{
        font-size: 18px;
        font-weight: 800;
    }
}

.filtro{
    display: flex;
    label{
        display: block;
        color: #999;
        font-size: 12px;
    }
    input{
        margin: 10px;
        font-size: 12px;
        border: none;
        background-color: #2e3238;
        color: #fff;
        border-radius: 4px;
        padding: 10px;
    }
    button{
        font-size: 12px;
        border: none;
        background-color: #2e3238;
        color: #fff;
        border-radius: 4px;
        padding: 10px;
    }
}

.filtro-item{
    margin-left: 10px;
}

select{
    border: none;
    border-bottom: 1px solid #ddd;
    color: #888;
    width: 150px;
    background-color: whitesmoke;
    font-size: 16px;
}
select:focus {
    outline: none;
}

.table-container{
    min-height: 100%;
    margin-left: 150px;
    margin-right: 150px;
}
.transactions-table{
    margin: 20px 0;
    width: 100%;
    font-size: 16px;
    border-collapse: collapse;
}



thead th{
    color: #ccc;
    font-size: 14px;
    font-weight: bold; 
    padding: 5px 12px;
    text-align: left;
}
tbody td{
    padding: 10px 12px;
    text-align: left;
    color: #666;
}

.saldo{
    background-color: rgba(204, 204, 204, .2);

}
tr:nth-child(even) {
    background-color: rgba(28, 35, 59, .02);
}

.container{
    display: flex;
    background-color: #2e3238;
    margin-left: 150px;
    margin-right: 150px;
}

.portfolio-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}


tbody tr:hover {
    background-color: rgba(245, 245, 245, 1);
}


.green{
    color: #23d287;
}
.red{
    color: #ec7467;
}

.footer-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    background-color: hsl(240, 100%, 50%);
}
.atendimento{
    color: white;
    padding: 25px;
    margin-bottom: 25px;

    p{
        font-weight: bold;
        border-bottom: 1px solid #ddd;
    }

    span{
        line-height: 2;
        font-size: 14px;
    }
}


@media screen and (max-width: 700px) {
    .main-section {
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .filtro-container,
    .table-container,
    .container {
        margin-left: 10px;
        margin-right: 10px;
    }
    tr,td{
        flex-direction: column;
    }
}